body {
    padding:0px;
    margin:0px;
    height: 100%;
  }
  #viewer {
    position:absolute;
    top : 0px; 
    left: 0px;
    bottom : 0px;
    right : 0px;
    margin : 0px;
    padding:0px;
    overflow:hidden;
  }
  #traj-widget {
    width: 200px;
    height: 20px;
    background: #aaa;
    position: absolute;
    top: 50px;
    left: 50px;
    display: none;
  }
  #search{
      position: absolute;
      width: 50%;
      top: 3%;
      left: 3%;
  }
  #vertBtn{
      width:20%;
      left: 79%;
      top: 3vh;
  }
  #loading{
    visibility: hidden;
    position: absolute;
    width: 10vw;
    height: 10vw;
    left: 40vw;
    top: 40vh;
  }